section {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 65;
  width: 500px;
  display: inline-block;
}

section.dark {
  background: black;
  color: white;
}

section.light {
  background: white;
  color: dark;
}

section div {
  border-right: 1px solid;
  width: 110px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  display: inline-block;
  text-align: center;
}

section div:last-child {
  border-right: none;
}
